/*
COLORS:

Deep Sky Blue: #00BFFF
Royal Blue: #4169E1
Medium Blue: #0000CD

*/

/* Reset */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Lato, sans-serif;
    font-weight: 400;
    /*font-size: 16px; */
    line-height: 1.7;
    color: #777777;
    padding: 3rem;
    box-sizing: border-box;
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom,
        rgba(0, 191, 255, 0.8),
        rgba(65, 105, 225, 0.81)),
        url("../img/bg.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.logo-box{
    position: absolute;
    top:4rem; /* Remember to set position to relative in the parent */
    left: 4rem;
}

.logo{
    height: 3.5rem;
}

/*
.logo:hover{
    animation: ease-in-out moveInRight 5s;
}
*/

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading-primary{
    color: #ffffff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary-main{
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    animation-name: moveInLeft;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.heading-primary-sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .5rem;
    animation: ease-in-out moveInRight 5s;
    /*
    animation-name: moveInRight;
    animation-duration: 5s;
    animation-timing-function: ease-in-out; */
}

.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.5rem;
}

.btn:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.4);
}

.btn:active { /*When we click*/
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.4);
}

.btn-white{
    background-color: white;
    color: #777777;
}

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after{
    background-color: white;
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated{
    animation: moveInBottom .5 ease-out .75s;
    animation-fill-mode: backwards;
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    30% {
        transform: rotate(5deg);
    }

    60% {
        opacity: .5;
        transform: translateX(2rem);
    }

    90%{
        transform: rotate(0deg);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }

    30% {
        transform: rotate(-5deg);
    }

    60% {
        opacity: .5;
        transform: translateX(-2rem);
    }

    90% {
        transform: rotate(0deg);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}